.intro {
    background: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Alata', sans-serif;
    color: white;
}
.heading {
    font-family: 'Grandstander', cursive;
    text-align: center;
}
.sectiontwo {
    height: 50vh;
}
.about_us {
    font-family: 'Grandstander', cursive;
    text-align: center;
}
.content {
    align-items: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.about-pic {
    align-items: center;
}
