.intro {
    background: url(../images/background1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    font-family: 'Alata', sans-serif;
    color: white;
}
.heading {
    font-family: 'Grandstander', cursive;
    text-align: center;
}
.sectiontwo {
    height: 50vh;
}
.about_us {
    font-family: 'Grandstander', cursive;
    text-align: center;
}
.content {
    align-items: center;
    text-align: center;
    font-family: 'Roboto Mono', monospace;
}
.about-pic {
    align-items: center;
}
.sectionthree {
    background: url(../images/backgorund2.jpg);
    height: 45vh;
}
.menu {
    color: white;
    font-family: 'Grandstander', cursive;
    text-align: center;

}
.sectionfour h4{
    text-align: center;
    font-family: 'Lobster', cursive;
    font-size: 50px;
}
.cont{
    text-align: center;
    width: 50%;
    height: auto;
}
